<!DOCTYPE html>
<html>
    <head>
        <title>Main Portal</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% load static %}
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{%  static "css/main.css" %}"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="{% static "css/ie8.css" %}" /><![endif]-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
        <style>
             div.inner{
                padding-bottom: 1em !important; }
        </style>
    </head>
    <body>
        <!-- Content -->
        <div id="content">
            <div class="inner">
                <article class="box post post-excerpt">
                    <header>
                        <h2 style="display: inline;">
                            {% if pages.home == "current" %}
                                Dashboard for {{ farm.name }}
                            {% elif pages.productivity == "current" %}
                                Productivity
                            {% elif pages.incidents == "current" %}
                                Incident Management
                            {% elif pages.employees == "current" %}
                                 Worker Management
                            {% else %}
                                Request a New Feature
                            {% endif %}
                        </h2>
                        <button style="float: right; display: inline; font-size: 14px;">
                            <a href="/logout" style="color: white; text-decoration: none;">Log Out</a>
                        </button>
                    </header>
                {% if pages.productivity == "current" or pages.incidents == "current" %}
                    <div id="analytics_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                {%  endif %}
                </article>
                <article class="box post post-excerpt">
                    {% if pages.employees == "current" %}
                        {% include "employee_management.html" %}
                    {% endif %}
                </article>
            </div>
        {% if pages.home == "current" %}
            <div class="row">
                <div class="colM">
                    <canvas id="myChart" height="400px" width="400px"></canvas>
                </div>
                <div class="colM">
                    <canvas id="myChart3" height="400px" width="400px"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="colM">
                    <canvas id="myChart2" height="400px" width="400px"></canvas>
                </div>
                <div class="colM">
                    <canvas id="myChart4" height="400px" width="400px"></canvas>
                </div>
            </div>
        {%  endif  %}
            <script>
            var ctx4 = document.getElementById("myChart4");



            var ctx = document.getElementById("myChart");
            var data = {
                labels: [
                    "Incapacitated",
                    "Healthy"
                ],
                datasets: [
                    {
                        data: [{{ num_incapacitated }}, {{ num_healthy }}],
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ]
                    }]
            };
            var myDoughnutChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: {
                    title: {
                        display: true,
                        text: "{{ graph_1_title }}"
                    },
                    responsive: true,
                    maintainAspectRatio: true
                },
                animation:{
                    animateScale:true
                }
            });
            var bardata = {
                labels: [
                    {% for day in days %}
                        {{ day }},
                    {% endfor %}
                ],
                datasets: [{
                    borderWidth: 1,
                            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                    data: [
                        {% for data in injuries %}
                            {{ data }},
                        {% endfor %}
                    ]
                }]
            };
            var ctx2 = document.getElementById("myChart2");
            var myBarChart = new Chart(ctx2, {
                type: 'bar',
                data: bardata,
                options: {
                    title: {
                        display: true,
                        text: '{{ graph_2_title }}'
                    },
                    responsive: true,
                    maintainAspectRatio: true
                },
                animation:{
                    animateScale:true
                }
            });
            var ctx3 = document.getElementById("myChart3");
            var myBubbleChart = new Chart(ctx3, {
                type: 'bubble',
                data: {
                    dataset: [{
                        label: "{{ graph_3_title }}",
                        data: [{% for point in data3 %} {{ point }}, {% endfor %}],
                        backgroundColor:"#FF6384",
                        hoverBackgroundColor: "#FF6384",
                    }]
                },

                options: {
                        elements: {
                            points: {
                                borderWidth: 1,
                                borderColor: 'rgb(0, 0, 0)'
                            }
                        }
                    },
                animation:{
                    animateScale:true
                }
            });
        </script>
        </div>

		<!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo -->
            <h1 id="logo"><a href="#">PANOPTICON</a></h1>

            {% include "side_nav.html" %}

            <!-- Calendar -->
            <section class="box calendar">
                <div class="inner">
                    <table>
                        <caption>July 2014</caption>
                        <thead>
                        <tr>
                            <th scope="col" title="Monday">M</th>
                            <th scope="col" title="Tuesday">T</th>
                            <th scope="col" title="Wednesday">W</th>
                            <th scope="col" title="Thursday">T</th>
                            <th scope="col" title="Friday">F</th>
                            <th scope="col" title="Saturday">S</th>
                            <th scope="col" title="Sunday">S</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="4" class="pad"><span>&nbsp;</span></td>
                            <td><span>1</span></td>
                            <td><span>2</span></td>
                            <td><span>3</span></td>
                        </tr>
                        <tr>
                            <td><span>4</span></td>
                            <td><span>5</span></td>
                            <td><a href="#">6</a></td>
                            <td><span>7</span></td>
                            <td><span>8</span></td>
                            <td><span>9</span></td>
                            <td><a href="#">10</a></td>
                        </tr>
                        <tr>
                            <td><span>11</span></td>
                            <td><span>12</span></td>
                            <td><span>13</span></td>
                            <td class="today"><a href="#">14</a></td>
                            <td><span>15</span></td>
                            <td><span>16</span></td>
                            <td><span>17</span></td>
                        </tr>
                        <tr>
                            <td><span>18</span></td>
                            <td><span>19</span></td>
                            <td><span>20</span></td>
                            <td><span>21</span></td>
                            <td><span>22</span></td>
                            <td><a href="#">23</a></td>
                            <td><span>24</span></td>
                        </tr>
                        <tr>
                            <td><a href="#">25</a></td>
                            <td><span>26</span></td>
                            <td><span>27</span></td>
                            <td><span>28</span></td>
                            <td class="pad" colspan="3"><span>&nbsp;</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
			</div>

		<!-- Scripts -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js" %}"></script>
        <script src="{% static "js/util.js" %}"></script>
        <!--[if lte IE 8]><script src="{% static "js/ie/respond.min.js" %}"></script><![endif]-->
        <script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/analytics_chart.js" %}"></script>
        {% if pages.productivity == "current" %}
            <script src="{% static "js/analytics_chart.js" %}"></script>
        {% elif pages.incidents == "current" %}
             <script src="{% static "js/real_time.js" %}"></script>
        {% endif %}
    </body>
</html>