<!-- Nav -->
<nav id="nav">
    <ul>
        <li class="{{ pages.home }}"><a href="/">Home</a></li>
        <li class="{{ pages.productivity }}"><a href="/productivity">Productivity</a></li>
        <li class="{{ pages.incidents }}"><a href="/incidents">Incident Management</a></li>
        <li class="{{ pages.employees }}"><a href="/employees">Worker Management</a></li>
        <li class="{{ pages.sectors }}"><a href="/sectors">Zoning Management</a></li>

    </ul>
</nav>
<nav id="nav">
    <ul>
        <li class="{{ pages.edit_site }}"><a href="/edit_site">Edit facility info</a></li>
        <li class="{{ pages.change_site }}"><a href="/change_site">Change facility</a></li>
        <li class="{{ pages.add_site }}"><a href="/add_site">Add facility</a></li>
    </ul>
</nav>