<!DOCTYPE html>
<html>
    <head>
        <title>Main Portal</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% load static %}
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{%  static "css/main.css" %}"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="{% static "css/ie8.css" %}" /><![endif]-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js"></script>
        <style>
#table123 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#td3, #th3 {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    </head>
    <body>
        <!-- Content -->
        <div id="content">
            <div class="inner">
                <article class="box post post-excerpt">
                    <header>
                        <h2 style="display: inline;">
                                Zoning Management
                        </h2>
                        <button style="float: right; display: inline; font-size: 14px;">
                            <a href="/logout" style="color: white; text-decoration: none;">Log Out</a>
                        </button>
                    </header>
                    <canvas id="sector_injuries" width="100" height="50"></canvas>
                </article>
                <article class="box post post-excerpt">
                    <div class="container">
                    <header>
                    <h3 style="display: inline;">Sectors Leads: {{ sectors|length }}</h3>
        <button style="background-color: green; display: inline; float: right;"><a href="add_sector" style="text-decoration: none; color: white;">+ Add Sector</a></button>
        </header>

                        <table id="table123">
                            <tr id="tr2">
                                <th id="th3" style="font-weight: bold;">Sector</th>
                                <th id="th3"style="font-weight: bold;">Num Incidents</th>
                                <th id="th3"style="font-weight: bold;">Number of Employees</th>
                                <th id="th3"style="font-weight: bold;">Edit</th>
                            </tr>
                        {% for sector in sectors %}
                            <tr id="tr2" style="text-align: center;">
                                <td id="td3">{{ sector.name }}</td>
                                <td id="td3">{{ sector.num_incidents }}</td>
                                <td id="td3">{{ sector.num_employees }}</td>
                                <td id="td3"><button>Delete</button> <button>Edit</button></td>
                            </tr>
                            {% endfor %}
                            </table>
                    </div>
                </article>
            </div>
        </div>

		<!-- Sidebar -->
        <div id="sidebar">
            <!-- Logo -->
            <h1 id="logo"><a href="#">PANOPTICON</a></h1>

            {% include "side_nav.html" %}

            <!-- Calendar -->
            <section class="box calendar">
                <div class="inner">
                </div>
            </section>
			</div>

		<!-- Scripts -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js" %}"></script>
        <script src="{% static "js/util.js" %}"></script>
        <!--[if lte IE 8]><script src="{% static "js/ie/respond.min.js" %}"></script><![endif]-->
        <script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/sector_injuries.js" %}"></script>
{#        <script src="{% static "js/chart.js" %}"></script>#}
    </body>
</html>