<!DOCTYPE html>
<html>
    <head>
        <title>Main Portal</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        {% load static %}
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="{%  static "css/main.css" %}"/>
        <!--[if lte IE 8]><link rel="stylesheet" href="{% static "css/ie8.css" %}" /><![endif]-->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <style>
#table123 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#td3, #th3 {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    </head>
    <body>
        <!-- Content -->
        <div id="content">
            <div class="inner">
                <article class="box post post-excerpt">
                    <header>
                        <h2 style="display: inline;">
                                Change facility
                        </h2>
                        <button style="float: right; display: inline; font-size: 14px;">
                            <a href="/logout" style="color: white; text-decoration: none;">Log Out</a>
                        </button>
                    </header>

                </article>
                <article class="box post post-excerpt">
                    <div class="container">
                    <header>
                    <h3 style="display: inline;">Crew Leads: {{ sectors|length }}</h3>
        <button style="background-color: green; display: inline; float: right;"><a href="add_sector" style="text-decoration: none; color: white;">+ Add Sector</a></button>
        </header>

                        <table id="table123">
                            <tr id="tr2">
                                <th id="th3" style="font-weight: bold;">Sector</th>
                                <th id="th3"style="font-weight: bold;">Crew Lead</th>
                                <th id="th3"style="font-weight: bold;">Number of Employees</th>
                                <th id="th3"style="font-weight: bold;">More Info</th>
                            </tr>
                        {% for sector in sectors %}
                            <tr id="tr2 style="text-align: center;">
                                <td id="td3">{{ sector.name }}</td>
                                <td id="td3">{{ sector.sectors }}</td>
                                <td id="td3">{{ sector.numemployees }}</td>
                                <td id="td3"><button>View Profile</button></td>
                            </tr>
                            {% endfor %}
                            </table>
                    </div>
                </article>
            </div>
        </div>

		<!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo -->
            <h1 id="logo"><a href="#">PANOPTICON</a></h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="{{ pages.home }}"><a href="/">Home</a></li>
                    <li class="{{ pages.productivity }}"><a href="/productivity">Productivity</a></li>
                    <li class="{{ pages.incidents }}"><a href="/incidents">Incident Management</a></li>
                    <li class="{{ pages.employees }}"><a href="/employees">Employee Management</a></li>
                    <li class="{{ pages.sectors }}"><a href="/sectors">Zoning Management</a></li>

                </ul>
            </nav>
            <nav id="nav">
                <ul>
                    <li class="{{ pages.edit_site }}"><a href="/edit_site">Edit facility info</a></li>
                    <li class="{{ pages.change_site }}"><a href="/change_site">Change facility</a></li>
                    <li class="{{ pages.add_site }}"><a href="/add_site">Add facility</a></li>
                </ul>
            </nav>

            <!-- Calendar -->
            <section class="box calendar">
                <div class="inner">
                </div>
            </section>
			</div>

		<!-- Scripts -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/skel.min.js" %}"></script>
        <script src="{% static "js/util.js" %}"></script>
        <!--[if lte IE 8]><script src="{% static "js/ie/respond.min.js" %}"></script><![endif]-->
        <script src="{% static "js/main.js" %}"></script>
        <script src="{% static "js/analytics_chart.js" %}"></script>
    </body>
</html>